<% c++ #include "content.h" %>  
<% skin my_skin %>  
<% view message uses content::message %>  
<% template render() %>  
<html>
<head>
  <title>CPPCMS-DEV </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>  
  <body> 

<div class="container">
  <div class="jumbotron">
    <h1>This page is Writted  in C++</h1>
    <p>By <%= text %>  <%= author %> </p> 
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3><%= text %></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3><%= author %></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div> 
	<div class="container">
  <h2><a href="http://sdtimes.com/wp-content/uploads/2015/06/0622.sdt-microsoft-facebook-c-.jpg" > Image </a> </h2>
  <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>                  
  <img src="http://sdtimes.com/wp-content/uploads/2015/06/0622.sdt-microsoft-facebook-c-.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236"> 
</div>

  </body>  
</html>  
<% end template %>  
<% end view %>  
<% end skin %> 